NODE_ENV=development
PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/clothing-ecommerce
JWT_ACCESS_SECRET=replace_with_long_random_string
JWT_REFRESH_SECRET=replace_with_a_different_long_random_string
CLIENT_URL=http://localhost:4200
